# Inicialização

Carregamos a seguir as bibliotecas utilizadas.

In [1]:
# Import de bibliotecas utilizadas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from pyxlsb import open_workbook as open_xlsb

%matplotlib inline

data_xlsb = '../data/ambev.xlsb'

In [2]:
# Executar se pyxlsb não tiver instalado
#!pip install pyxlsb
#from pyxlsb import open_workbook as open_xlsb

# Leitura/Limpeza dos dados

Incluímos aqui nessa seção os passos de tratamento do conjunto de dados realizados no notebook de exploração `AmBev_Data_Wrangling`. Algumas explicações são omitidas aqui, de modo a manter o notebook mais enxuto. Para mais detalhes sobre os passos realizados, favor consultar `AmBev_Data_Wrangling.ipynb`.

Definimos funções auxiliares para realizar a limpeza dos dados.

In [3]:
import unidecode

# Função para substituir espaços por _ (utilizado nos nomes de colunas)
def str_replace_spaces(input_str):
    if input_str == None: return None
    else: return input_str.replace(' ','_')

# Função para 'sanitizar' strings, substituindo erros inseridos por encoding
def str_sanitize(input_str):
    if not (isinstance(input_str,str)):
        return input_str
    
    output_str = input_str.replace('Á¡', 'á')
    
    return unidecode.unidecode(output_str)

# Função que recebe valores de uma linha 'suja' (com valores de Regra Alcance Parcial em mais de uma coluna) 
# e retorna uma linha 'limpa'.
def list_sanitize(input_list):
    output_list = []
    read_val = False
    
    for i, a in enumerate(input_list):
        if i == 21: 
            val = a
            if val != None: val = str(val)
        elif i == 22:
            if a != None \
            and not re.search('Sim',a) \
            and not re.search('Não',a):
                read_val = True
                val += " " + a
            else:
                output_list.append(val)
                output_list.append(a)
        
        else:
            if read_val:
                if a == None:
                    read_val = False
                    output_list.append(val)
                    output_list.append(a)
                    
                if re.search('\"$',str(a)):
                    read_val = False
                    val += " " + a
                    output_list.append(val)
                    
                    
            else:
                output_list.append(a)
                
    return output_list

Definidas as funções auxiliares, vamos realizar a leitura dos dados. Note que: valores ausentes são preenchidos com `nan`, para evitar valores `None` no dataframe; as últimas colunas (vazias) são removidas; e `Mes_Referencia` é tratado como `datetime`, no formato Mês + Ano.

In [21]:
df = []

with open_xlsb(data_xlsb) as wb:
    for sheetname in wb.sheets:
        with wb.get_sheet(sheetname) as sheet:  
            for i,row in enumerate(sheet.rows()):
                row_li = [item.v for item in row]
                if (i>0): row_li = list_sanitize(row_li)
                elif (i==0): row_li = [str_sanitize(str_replace_spaces(item)) for item in row_li]
                df.append(row_li)
                
df = pd.DataFrame(df[1:], columns=df[0])
df.drop(df.columns[-5:-1],axis=1,inplace=True)
df['Mes_Referencia'] = pd.to_datetime(df['Mes_Referencia'], format='%m%Y.0')

Vejamos como ficou o dataframe.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270633 entries, 0 to 270632
Data columns (total 33 columns):
Mes_Referencia           270633 non-null datetime64[ns]
Pais                     270633 non-null object
Mundo                    270501 non-null object
Regional/Area            270633 non-null float64
Unidade                  270633 non-null float64
Grupo_Cargo              230099 non-null object
Cargo                    262118 non-null object
Grade                    262118 non-null float64
Banda                    262118 non-null object
Area                     262116 non-null object
Nome_Funcionario         270633 non-null float64
Nome_Gestor              270633 non-null float64
Codigo_KPI               230229 non-null object
Diretoria                230229 non-null object
Areas_da_Diretoria       230229 non-null object
Funcao                   230229 non-null object
Tipo_da_Meta             270633 non-null object
Categoria_KPI            267176 non-null object
Nome_KPI                 270633 non-null float64
Peso_KPI                 270633 non-null float64
Prazo                    267176 non-null object
Regra_Alcance_Parcial    256727 non-null object
Meta_Projeto             106712 non-null object
%_Ating_Mes              106285 non-null float64
%_Pontos_Mes             106285 non-null float64
%_Acum_Mes               106285 non-null float64
%_Ating_Acumulado        106712 non-null float64
%_Pontos_Acumulado       129397 non-null float64
%_Acum_Acumulado         120653 non-null float64
%_Ating_Fim_Exer         106712 non-null float64
%_Pontos_Fim_Exer        129418 non-null float64
%_Acum_Fim_Exer          131586 non-null float64
Status_Meta              106712 non-null object
dtypes: datetime64[ns](1), float64(16), object(16)
memory usage: 68.1+ MB

Criamos um dicionário para substituir erros gerais na codificação, e definimos uma função para realizar a limpeza adicional.

In [23]:
replace_dict = {'Áµ':'õ',
                'Ã`\x01': 'Ê',
                'Ã\x8d': 'Í',
                'Ã! ':'Ç',
                'Ã\x92\x01O': 'ÃO',
                'Á\x1d ': 'Ô',
                'Á\x1c': 'Ó', 
                'Á\x8d': 'Í',
                'Â\xa0': ' ',
                '\x81':'',
                'â¬ \x1c ': '-', 
                'Á¡':'á',
                'Ã©': 'é',
                'Ã\xad': 'í',
                'Ã\x1c': 'Ó',
                'Ã£': 'ã',
                'ARMAZÁ0 M': 'ARMAZÉM',
                'OPERAçÁ" ES': 'OPERAçÕES',
                'Logisitca': 'Logistica',
                'Sumistros': 'Suministros',
                'GREG': 'GER'
               }

def str_clean(x):
    if x == None or not isinstance(x,str): return x
    for item in replace_dict:
        if item in x:
            x = x.replace(item,replace_dict[item])
            
    return unidecode.unidecode(x).strip()

Aplicamos a função aos campos que têm string. Além disso, usamos a função `title` para algumas categorias.

In [26]:
for col in df.columns:
    if (df[col].dtype=='O'):
        df[col] = df[col].apply(lambda x : str_clean(x))

cols = ['Grupo_Cargo', 'Area', 'Funcao', 'Categoria_KPI']
for col in cols:
    df[col] = df[col].apply(lambda x : x.title() if x != None else x)

Grupo_Cargo
Area
Funcao
Categoria_KPI

Para refinar a limpeza, e remover inconsistências específicas a cada feature, aplicamos a função abaixo.

In [27]:
replace_dict_cat = {
    'Area': [
        ['E-Commerce', 'Ecommerce'],
        ['Projeto', 'Projetos']
    ],
    
    'Funcao': [
        ['Gerente Financeiro', 'Ger Financeiro']
    ],
    
    'Categoria_KPI': [
        ['Imagen De Mnarca', 'Imagen De Marca'],
        ['Machine Kpis', 'Machine Kpi'],
        ['Cash Flow','Cashflow'],
        ['Project Kpi', 'Project'],
        ['Le Accurancy', 'Le Accuracy'],
        ['Legal Compliance', 'Compliance'],
        ['Gestio N Recursos Marcas', 'Gestion Recursos Marcas']
        
    ],
    
    
    'Prazo': [
        ['monthly', 'Monthly'],
        ['Monthly basis', 'Monthly'],
        ['monthly basis', 'Monthly']
    ]
}

def str_refinement(df):
    for cat in replace_dict_cat:
        for [str_from,str_to] in replace_dict_cat[cat]:
            df[cat].replace(str_from,str_to,inplace=True)
            
str_refinement(df)

Agrupamos então strings similares dentro de uma mesma feature.

In [28]:
from difflib import SequenceMatcher

# Função de similaridade
def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()    

# Função para agrupar as diferentes versões de strings em uma coluna
def str_similarity_replacement(df,col):
    replacement_dict = {}
    
    enum = list(enumerate(df[col].unique()))
    for i, a in enum:
        for j,b in enum:
            if (j > i) and (isinstance(a,str)) and (isinstance(b,str)) and (similar(a,b) > 0.7):
                if b not in replacement_dict: replacement_dict[b] = a
                
    for b in replacement_dict:
        a = replacement_dict[b]
        while (a in replacement_dict):
            a = replacement_dict[a]
        replacement_dict[b] = a
        
    for b in replacement_dict:
        df[col].replace(b, replacement_dict[b],inplace=True)
        
        
str_similarity_replacement(df,'Categoria_KPI')

O trabalho que não pôde ser realizado automaticamente pelo agrupamento é então realizado manualmente.

In [34]:
def sanitize_cat_kpi(df):
    col = 'Categoria_KPI'
    
    df[col] = df[col].apply(lambda x: re.sub(r'\s*/\s*', r'/', x).strip() if x != None else x)
    
    replace_dict = {
        'Continuous Improvement': 'Melhoria Continua',
        'People & Management': 'Gente E Gestao',
        'Imagem Da Marca (Brandhealth)': 'Imagem Da Marca',
        'Brand Health' : 'Imagem Da Marca',
        'Innovations/Innovations Project': 'Inovacoes/Projeto De Inovacoes',
        'Quality': 'Qualidade',
        'Imagen De Marca': 'Imagem Da Marca',
        'Rentabilidade/Custos (Maco, Vic, Vlc, Ebitda, Eficiencia E Produtividade)': 'Rentabilidade/Custos',
        'Rentabilidad/Costos': 'Rentabilidade/Custos',
        'Better World' : 'Mundo Melhor',
        'Innovaciones': 'Inovacoes/Projeto De Inovacoes',
        'Profit/Costs (Maco,Vic, Vlc, Ebitda..)': 'Rentabilidade/Custos',
        'Long-Term Projects/Initiatives/Strategy': 'Projetos/Iniciativas De Longo Prazo/Estrategia',
        'Volumen': 'Market Share/Volume',
        'Ebitda': 'Rentabilidade/Custos',
        'Productivity': 'Rentabilidade/Custos',
        'Cost': 'Rentabilidade/Custos',
        'Gestion': 'Gente E Gestao',
        'Sinergias Caribe': 'Sinergias',
        'Synergies': 'Sinergias',
        'People': 'Gente E Gestao',
        'Reputacion': 'Imagem Da Marca',
        'Project': 'Projetos/Iniciativas De Longo Prazo/Estrategia',
        'Safety': 'Seguranca',
        'Seguridad': 'Seguranca',
        'Obz': 'OBZ',
        'Zbb': 'OBZ',
        'Obz Incentivos': 'OBZ',
        'Reporte De Carga Tendencias Obz': 'OBZ',
        'Vpo Sustentable - Management And People Pilar': 'Gente E Gestao',
        'Dpo': 'DPO',
        'Machine Kpi': 'Machine KPI',
        'Rojo+Negro Equipo Frio': 'Equipo Frio',
        'Reporte Equipo Frio Rojo+Negro': 'Equipo Frio'
    }
    
    for a in replace_dict:
        df[col].replace(a, replace_dict[a], inplace=True)
    
    
    
    
sanitize_cat_kpi(df)

In [41]:
df['Status_Meta'].unique()

array(['Monitoramento Aprovado', nan], dtype=object)

In [40]:
df.fillna(value=pd.np.nan, inplace=True)

In [38]:
df.replace('None', np.nan, inplace=True)

In [42]:
df.head()

,Mes_Referencia,Pais,Mundo,Regional/Area,Unidade,Grupo_Cargo,Cargo,Grade,Banda,Area,...,%_Ating_Mes,%_Pontos_Mes,%_Acum_Mes,%_Ating_Acumulado,%_Pontos_Acumulado,%_Acum_Acumulado,%_Ating_Fim_Exer,%_Pontos_Fim_Exer,%_Acum_Fim_Exer,Status_Meta
0,2017-03-01,Brasil,Sales,10.0,78.0,Ger De Vendas Revenda,GERENTE DE VENDAS REVENDA II,12.0,VI-B,Gerencia Cd,...,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,25.0,Monitoramento Aprovado
1,2017-03-01,Brasil,Sales,10.0,78.0,Ger De Vendas Revenda,GERENTE DE VENDAS REVENDA II,12.0,VI-B,Gerencia Cd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-03-01,Brasil,Sales,10.0,78.0,Ger De Vendas Revenda,GERENTE DE VENDAS REVENDA II,12.0,VI-B,Gerencia Cd,...,80.0,60.0,12.0,80.0,60.0,12.0,100.0,100.0,20.0,Monitoramento Aprovado
3,2017-03-01,Brasil,Sales,10.0,78.0,Ger De Vendas Revenda,GERENTE DE VENDAS REVENDA II,12.0,VI-B,Gerencia Cd,...,100.0,100.0,15.0,90.0,80.0,12.0,100.0,100.0,15.0,Monitoramento Aprovado
4,2017-03-01,Brasil,Sales,10.0,78.0,Ger De Vendas Revenda,GERENTE DE VENDAS REVENDA II,12.0,VI-B,Gerencia Cd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

E aqui encerramos a etapa de Limpeza/Manipulação dos dados.

# Exploração dos dados

## Valores nulos de KPI

Vamos analisar as entradas que não possuem valores na feature `Categoria_KPI`.

In [138]:
for col in df.columns:
    print(col)
    print(df[df['Categoria_KPI'].isna()][col].unique())

Mes_Referencia
['2017-06-01T00:00:00.000000000' '2017-07-01T00:00:00.000000000'
 '2017-08-01T00:00:00.000000000' '2017-09-01T00:00:00.000000000'
 '2017-10-01T00:00:00.000000000' '2017-11-01T00:00:00.000000000'
 '2017-12-01T00:00:00.000000000']
Pais
['Barbados' 'Cuba' 'Dominica' 'Guatemala' 'Panama' 'Rep. Dominicana']
Mundo
['Supply' 'Sales' 'Finance' 'Integracion' 'Marketing' 'People' 'Logistica'
 'Sales - Operaciones' 'Sales - Ventas' 'Sales - Finanzas'
 'Sales - Gente y Gestion' 'Sales - Marketing' 'Caribe Ex' 'CE'
 'HILA - Proceso de Ventas' 'HILA - Suministros'
 'Sales - Cadena de Abastecimiento & TI' 'Sales - International'
 'Sales - Legal' 'Sales - Proyectos y TI' 'Sales - Suministros'
 'Sales - Trade Marketing' 'Supply - Planta CND' 'Asuntos Corporativos']
Regional/Area
[ 4.]
Unidade
[  16.   17.  257.  279.  264.  258.  305.  306.  315.  328.  329.   47.
   50.   56.   69.  113.  147.  159.  160.  161.  165.  265.  290.  292.
  312.  325.  316.]
Grupo_Cargo
[nan]
Cargo
[nan 'GER DE TRADE MKTG ROTA III' 'COORDENADOR JR' 'ANALISTA II'
 'ESPECIALISTA I' 'GERENTES DE PROJETOS' 'COORDENADOR II'
 'SUPERVISOR DE MERCADO II' 'SUPERVISOR II' 'GERENTE DE VENDAS ROTA II'
 'ANALISTA CONTROLE I' 'TEC ADMINISTRATIVO II' 'ESTAGIARIO SUPERIOR'
 'VENDEDOR III' 'ANALISTA I' 'ANALISTA III' 'SUPERVISOR DE MARKETING I'
 'SUPERVISOR DE MERCADO I' 'TEC ADMINISTRATIVO III'
 'GER REG PLAN E PERFORMANCE II' 'GERENTE DE VENDAS REVENDA IV'
 'ESPECIALISTA  JR' 'ESPECIALISTA II' 'TEC ADMINISTRATIVO SENIOR FABRIL'
 'GER PLANEJ E PERFORMANCE IV' 'TEC INFORMATICA II'
 'GER REGIONAL FINANCEIRO II' 'GERENTE FINANCEIRO III'
 'COORDENADOR FINANCEIRO II' 'TEC ESPECIALIZADO II'
 'GER DE TRADE MKTG REVENDAS II' 'ADVOGADO ESPECIALISTA III'
 'ADVOGADO ESPECIALISTA II' 'GERENTE JURIDICO REGIONAL III'
 'COORDENADOR III' 'GER  MARKETING' 'ENGENHEIRO III'
 'GER OPERACA" ES E DISTRIB IV' 'EXPATRIADO I' 'ANALISTA PLENO FABRIL'
 'ANALISTA FABRIL' 'SUPERVISOR FABRIL' 'GER INDUSTRIAL III' 'SUPERVISOR I'
 'ENGENHEIRO PLENO FABRIL' 'GERENTE REGIONAL GENTE E GESTAO I'
 'GER GENTE E GESTAO I' 'COORDENADOR IV' 'ANALISTA IV' 'COORDENADOR I'
 'GER SERVICOS I' 'GERENTE DE CONTAS I' 'GERENTE COMERCIAL AS II'
 'GER OPERACA" ES E DISTRIB ROTA I' 'GERENTE DE VENDAS ROTA III'
 'GER PRODUTO III' 'GER SERV COMPARTILHADOS I' 'ENGENHEIRO SENIOR FABRIL']
Grade
[ nan  13.   9.  12.  16.  11.   8.   6.   3.   7.  10.  15.  14.]
Banda
[nan 'VI-a' 'VII-b' 'VI-b' 'IV-b' 'VI-c' 'VII-c' 'Blue Collars' 'VII-a'
 'V-a' 'V-b']
Area
[nan 'Comercial Rota' 'Financeiro' 'Suprimentos' 'Staff Diretoria'
 'Gente Gestao' 'Distribuicao Rota' 'Logistica' 'Vendas Rota'
 'Vendas Brasil' 'Dir. Intern' 'Juridico' 'Adl' 'Adv' 'Apr'
 'Rel. Corporativa' 'Marketing' 'Ti' 'Expatriados' 'Gerencia Fabril'
 'Manutencao' 'Dir Regional' 'Gente Gestao Diretoria' 'Cat']
Nome_Funcionario
[ 6910.  4232.  4062.  5762.  5353.   299.   578.  5604.  1901.   841.
  5400.  7310.  4035.  5475.  3063.  4869.  3869.  2204.  5444.  7806.
  1479.  6014.  5479.  5756.  5746.  6532.  3075.  7064.   700.   711.
  3255.  3256.  6619.  3102.   766.   818.  2256.  2135.  3105.  1816.
  4764.   793.  6840.  5821.  3370.  2266.  1007.  7779.  4214.  4068.
  7822.  5565.  5564.  2657.  2082.  2737.  1519.  2662.   758.  2614.
  3956.  6017.  6832.   650.  6998.  1019.  3900.  2158.  6805.   602.
  1487.  5536.  5543.  5727.  1831.   576.  6640.  6718.  3090.  4803.
  3257.  2192.  1441.  5452.  6831.  1462.  3983.  1912.  2259.   699.
  6720.   843.  5438.  4838.  3690.  6687.  1457.  5453.  1422.  6591.
  3848.  1837.  1367.  3845.   783.  4237.  1794.  4756.  4695.  4766.
  5476.  2725.  3224.   788.  6641.  5559.  5340.   712.  6433.   577.
  5500.  3950.  6800.  5474.  5341.  4066.  1528.  2169.  1485.  7569.
  3862.  5439.  6036.  5553.  2162.  2751.  7821.  7771.   537.  2140.
  3957.  1435.  1784.]
Nome_Gestor
[  438.  1791.   401.   842.   781.  1803.    63.  1727.  1357.   539.
   476.   189.   451.  1371.   360.   546.   997.  1040.   815.   321.
  1042.   186.   551.  1733.  1002.  1018.  1053.   328.  1187.   966.
  1525.   117.  1031.  1769.  1020.  1035.  1954.  1056.  1176.     0.
   778.   343.   191.  1766.  1034.   699.  1215.  1194.   142.  1337.
  1213.  1070.   663.   120.  1405.   128.   348.  1703.  1045.  1407.
  1745.  1217.   244.  1457.  1036.   468.   996.   982.  1945.  1898.
  1032.  1522.   135.  1391.  1543.   990.  1044.  1544.   141.   118.
  1985.  1443.  1996.   309.]
Codigo_KPI
[nan]
Diretoria
[nan]
Areas_da_Diretoria
[nan]
Funcao
[nan]
Tipo_da_Meta
['Metas Individuales 1' 'Metas Individuales 2' 'Metas Individuales 3'
 'Metas Individuales 4' 'Metas Individuales 5']
Categoria_KPI
[nan]
Nome_KPI
[ 0.]
Peso_KPI
[ 0.]
Prazo
[nan]
Regra_Alcance_Parcial
[nan]
Meta_Projeto
[nan]
%_Ating_Mes
[ nan]
%_Pontos_Mes
[ nan]
%_Acum_Mes
[ nan]
%_Ating_Acumulado
[ nan]
%_Pontos_Acumulado
[  0.  nan]
%_Acum_Acumulado
[ 0.]
%_Ating_Fim_Exer
[ nan]
%_Pontos_Fim_Exer
[  0.  nan]
%_Acum_Fim_Exer
[ 0.]
Status_Meta
[nan]

In [149]:
for a in sorted(df['Regional/Area'].unique()):
    print(str(a) + ": " + str(100*len(df[df['Categoria_KPI'].isna() & (df['Regional/Area']==a)])/len(df[(df['Regional/Area']==a)])))

0.0: 0.0
1.0: 0.0
2.0: 0.0
3.0: 0.0
4.0: 8.556083556083555
5.0: 0.0
6.0: 0.0
7.0: 0.0
8.0: 0.0
9.0: 0.0
10.0: 0.0
11.0: 0.0
12.0: 0.0
13.0: 0.0
14.0: 0.0
15.0: 0.0
16.0: 0.0
17.0: 0.0
18.0: 0.0
19.0: 0.0
20.0: 0.0
21.0: 0.0
22.0: 0.0

In [48]:
cols = ['Peso_KPI']
for col in df.columns:
    if re.search('^\%_',col):
        cols.append(col)
        
print(cols)

['Peso_KPI', '%_Ating_Mes', '%_Pontos_Mes', '%_Acum_Mes', '%_Ating_Acumulado', '%_Pontos_Acumulado', '%_Acum_Acumulado', '%_Ating_Fim_Exer', '%_Pontos_Fim_Exer', '%_Acum_Fim_Exer']

In [74]:
df.groupby(['Nome_Funcionario'])['Mundo'].nunique()

Nome_Funcionario
0.0       1
1.0       1
2.0       1
3.0       2
4.0       1
5.0       1
6.0       1
7.0       1
8.0       1
9.0       1
10.0      1
11.0      1
12.0      1
13.0      1
14.0      1
15.0      1
16.0      1
17.0      1
18.0      1
19.0      1
20.0      1
21.0      1
22.0      1
23.0      1
24.0      1
25.0      1
26.0      1
27.0      1
28.0      1
29.0      1
         ..
7829.0    1
7830.0    1
7831.0    1
7832.0    1
7833.0    1
7834.0    1
7835.0    1
7836.0    1
7837.0    1
7838.0    1
7839.0    1
7840.0    1
7841.0    1
7842.0    1
7843.0    1
7844.0    1
7845.0    1
7846.0    1
7847.0    1
7848.0    1
7849.0    1
7850.0    1
7851.0    1
7852.0    1
7853.0    1
7854.0    1
7855.0    1
7856.0    1
7857.0    1
7858.0    1
Name: Mundo, Length: 7858, dtype: int64

In [63]:
df[df['Nome_Funcionario']==0].groupby(['Mes_Referencia','Categoria_KPI']).count()

                                                               Pais  Mundo  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                  3      3
               Rentabilidade/Custos                               2      2
2017-04-01     Melhoria Continua                                  3      3
               Rentabilidade/Custos                               2      2
2017-05-01     Melhoria Continua                                  3      3
               Rentabilidade/Custos                               2      2
2017-07-01     Melhoria Continua                                  3      3
               Rentabilidade/Custos                               2      2
2017-08-01     Melhoria Continua                                  3      3
               Rentabilidade/Custos                               2      2
2017-09-01     Melhoria Continua                                  2      2
               Projetos/Iniciativas De Longo Prazo/Estrategia     1      1
               Rentabilidade/Custos                               2      2
2017-10-01     Melhoria Continua                                  2      2
               Projetos/Iniciativas De Longo Prazo/Estrategia     1      1
               Rentabilidade/Custos                               2      2
2017-11-01     Melhoria Continua                                  2      2
               Projetos/Iniciativas De Longo Prazo/Estrategia     1      1
               Rentabilidade/Custos                               2      2

                                                               Regional/Area  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                           3
               Rentabilidade/Custos                                        2
2017-04-01     Melhoria Continua                                           3
               Rentabilidade/Custos                                        2
2017-05-01     Melhoria Continua                                           3
               Rentabilidade/Custos                                        2
2017-07-01     Melhoria Continua                                           3
               Rentabilidade/Custos                                        2
2017-08-01     Melhoria Continua                                           3
               Rentabilidade/Custos                                        2
2017-09-01     Melhoria Continua                                           2
               Projetos/Iniciativas De Longo Prazo/Estrategia              1
               Rentabilidade/Custos                                        2
2017-10-01     Melhoria Continua                                           2
               Projetos/Iniciativas De Longo Prazo/Estrategia              1
               Rentabilidade/Custos                                        2
2017-11-01     Melhoria Continua                                           2
               Projetos/Iniciativas De Longo Prazo/Estrategia              1
               Rentabilidade/Custos                                        2

                                                               Unidade  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                     3
               Rentabilidade/Custos                                  2
2017-04-01     Melhoria Continua                                     3
               Rentabilidade/Custos                                  2
2017-05-01     Melhoria Continua                                     3
               Rentabilidade/Custos                                  2
2017-07-01     Melhoria Continua                                     3
               Rentabilidade/Custos                                  2
2017-08-01     Melhoria Continua                                     3
               Rentabilidade/Custos                                  2
2017-09-01     Melhoria Continua                                     2
               Projetos/Iniciativas De Longo Prazo/Estrategia        1
               Rentabilidade/Custos                                  2
2017-10-01     Melhoria Continua                                     2
               Projetos/Iniciativas De Longo Prazo/Estrategia        1
               Rentabilidade/Custos                                  2
2017-11-01     Melhoria Continua                                     2
               Projetos/Iniciativas De Longo Prazo/Estrategia        1
               Rentabilidade/Custos                                  2

                                                               Grupo_Cargo  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                         3
               Rentabilidade/Custos                                      2
2017-04-01     Melhoria Continua                                         3
               Rentabilidade/Custos                                      2
2017-05-01     Melhoria Continua                                         3
               Rentabilidade/Custos                                      2
2017-07-01     Melhoria Continua                                         3
               Rentabilidade/Custos                                      2
2017-08-01     Melhoria Continua                                         3
               Rentabilidade/Custos                                      2
2017-09-01     Melhoria Continua                                         2
               Projetos/Iniciativas De Longo Prazo/Estrategia            1
               Rentabilidade/Custos                                      2
2017-10-01     Melhoria Continua                                         2
               Projetos/Iniciativas De Longo Prazo/Estrategia            1
               Rentabilidade/Custos                                      2
2017-11-01     Melhoria Continua                                         2
               Projetos/Iniciativas De Longo Prazo/Estrategia            1
               Rentabilidade/Custos                                      2

                                                               Cargo  Grade  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                   3      3
               Rentabilidade/Custos                                2      2
2017-04-01     Melhoria Continua                                   3      3
               Rentabilidade/Custos                                2      2
2017-05-01     Melhoria Continua                                   3      3
               Rentabilidade/Custos                                2      2
2017-07-01     Melhoria Continua                                   3      3
               Rentabilidade/Custos                                2      2
2017-08-01     Melhoria Continua                                   3      3
               Rentabilidade/Custos                                2      2
2017-09-01     Melhoria Continua                                   2      2
               Projetos/Iniciativas De Longo Prazo/Estrategia      1      1
               Rentabilidade/Custos                                2      2
2017-10-01     Melhoria Continua                                   2      2
               Projetos/Iniciativas De Longo Prazo/Estrategia      1      1
               Rentabilidade/Custos                                2      2
2017-11-01     Melhoria Continua                                   2      2
               Projetos/Iniciativas De Longo Prazo/Estrategia      1      1
               Rentabilidade/Custos                                2      2

                                                               Banda  Area  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                   3     3
               Rentabilidade/Custos                                2     2
2017-04-01     Melhoria Continua                                   3     3
               Rentabilidade/Custos                                2     2
2017-05-01     Melhoria Continua                                   3     3
               Rentabilidade/Custos                                2     2
2017-07-01     Melhoria Continua                                   3     3
               Rentabilidade/Custos                                2     2
2017-08-01     Melhoria Continua                                   3     3
               Rentabilidade/Custos                                2     2
2017-09-01     Melhoria Continua                                   2     2
               Projetos/Iniciativas De Longo Prazo/Estrategia      1     1
               Rentabilidade/Custos                                2     2
2017-10-01     Melhoria Continua                                   2     2
               Projetos/Iniciativas De Longo Prazo/Estrategia      1     1
               Rentabilidade/Custos                                2     2
2017-11-01     Melhoria Continua                                   2     2
               Projetos/Iniciativas De Longo Prazo/Estrategia      1     1
               Rentabilidade/Custos                                2     2

                                                               Nome_Funcionario  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                              3
               Rentabilidade/Custos                                           2
2017-04-01     Melhoria Continua                                              3
               Rentabilidade/Custos                                           2
2017-05-01     Melhoria Continua                                              3
               Rentabilidade/Custos                                           2
2017-07-01     Melhoria Continua                                              3
               Rentabilidade/Custos                                           2
2017-08-01     Melhoria Continua                                              3
               Rentabilidade/Custos                                           2
2017-09-01     Melhoria Continua                                              2
               Projetos/Iniciativas De Longo Prazo/Estrategia                 1
               Rentabilidade/Custos                                           2
2017-10-01     Melhoria Continua                                              2
               Projetos/Iniciativas De Longo Prazo/Estrategia                 1
               Rentabilidade/Custos                                           2
2017-11-01     Melhoria Continua                                              2
               Projetos/Iniciativas De Longo Prazo/Estrategia                 1
               Rentabilidade/Custos                                           2

                                                                  ...       \
Mes_Referencia Categoria_KPI                                      ...
2017-03-01     Melhoria Continua                                  ...
               Rentabilidade/Custos                               ...
2017-04-01     Melhoria Continua                                  ...
               Rentabilidade/Custos                               ...
2017-05-01     Melhoria Continua                                  ...
               Rentabilidade/Custos                               ...
2017-07-01     Melhoria Continua                                  ...
               Rentabilidade/Custos                               ...
2017-08-01     Melhoria Continua                                  ...
               Rentabilidade/Custos                               ...
2017-09-01     Melhoria Continua                                  ...
               Projetos/Iniciativas De Longo Prazo/Estrategia     ...
               Rentabilidade/Custos                               ...
2017-10-01     Melhoria Continua                                  ...
               Projetos/Iniciativas De Longo Prazo/Estrategia     ...
               Rentabilidade/Custos                               ...
2017-11-01     Melhoria Continua                                  ...
               Projetos/Iniciativas De Longo Prazo/Estrategia     ...
               Rentabilidade/Custos                               ...

                                                               %_Ating_Mes  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                         3
               Rentabilidade/Custos                                      2
2017-04-01     Melhoria Continua                                         3
               Rentabilidade/Custos                                      2
2017-05-01     Melhoria Continua                                         3
               Rentabilidade/Custos                                      2
2017-07-01     Melhoria Continua                                         3
               Rentabilidade/Custos                                      2
2017-08-01     Melhoria Continua                                         3
               Rentabilidade/Custos                                      2
2017-09-01     Melhoria Continua                                         2
               Projetos/Iniciativas De Longo Prazo/Estrategia            0
               Rentabilidade/Custos                                      1
2017-10-01     Melhoria Continua                                         2
               Projetos/Iniciativas De Longo Prazo/Estrategia            0
               Rentabilidade/Custos                                      1
2017-11-01     Melhoria Continua                                         2
               Projetos/Iniciativas De Longo Prazo/Estrategia            0
               Rentabilidade/Custos                                      1

                                                               %_Pontos_Mes  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                          3
               Rentabilidade/Custos                                       2
2017-04-01     Melhoria Continua                                          3
               Rentabilidade/Custos                                       2
2017-05-01     Melhoria Continua                                          3
               Rentabilidade/Custos                                       2
2017-07-01     Melhoria Continua                                          3
               Rentabilidade/Custos                                       2
2017-08-01     Melhoria Continua                                          3
               Rentabilidade/Custos                                       2
2017-09-01     Melhoria Continua                                          2
               Projetos/Iniciativas De Longo Prazo/Estrategia             0
               Rentabilidade/Custos                                       1
2017-10-01     Melhoria Continua                                          2
               Projetos/Iniciativas De Longo Prazo/Estrategia             0
               Rentabilidade/Custos                                       1
2017-11-01     Melhoria Continua                                          2
               Projetos/Iniciativas De Longo Prazo/Estrategia             0
               Rentabilidade/Custos                                       1

                                                               %_Acum_Mes  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                        3
               Rentabilidade/Custos                                     2
2017-04-01     Melhoria Continua                                        3
               Rentabilidade/Custos                                     2
2017-05-01     Melhoria Continua                                        3
               Rentabilidade/Custos                                     2
2017-07-01     Melhoria Continua                                        3
               Rentabilidade/Custos                                     2
2017-08-01     Melhoria Continua                                        3
               Rentabilidade/Custos                                     2
2017-09-01     Melhoria Continua                                        2
               Projetos/Iniciativas De Longo Prazo/Estrategia           0
               Rentabilidade/Custos                                     1
2017-10-01     Melhoria Continua                                        2
               Projetos/Iniciativas De Longo Prazo/Estrategia           0
               Rentabilidade/Custos                                     1
2017-11-01     Melhoria Continua                                        2
               Projetos/Iniciativas De Longo Prazo/Estrategia           0
               Rentabilidade/Custos                                     1

                                                               %_Ating_Acumulado  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                               3
               Rentabilidade/Custos                                            2
2017-04-01     Melhoria Continua                                               3
               Rentabilidade/Custos                                            2
2017-05-01     Melhoria Continua                                               3
               Rentabilidade/Custos                                            2
2017-07-01     Melhoria Continua                                               3
               Rentabilidade/Custos                                            2
2017-08-01     Melhoria Continua                                               3
               Rentabilidade/Custos                                            2
2017-09-01     Melhoria Continua                                               2
               Projetos/Iniciativas De Longo Prazo/Estrategia                  0
               Rentabilidade/Custos                                            1
2017-10-01     Melhoria Continua                                               2
               Projetos/Iniciativas De Longo Prazo/Estrategia                  0
               Rentabilidade/Custos                                            1
2017-11-01     Melhoria Continua                                               2
               Projetos/Iniciativas De Longo Prazo/Estrategia                  0
               Rentabilidade/Custos                                            1

                                                               %_Pontos_Acumulado  \
Mes_Referencia Categoria_KPI
2017-03-01     Melhoria Continua                                                3
               Rentabilidade/Custos                                             2
2017-04-01     Melhoria Continua                                                3
               Rentabilidade/Custos                                             2
2017-05-01     Melhoria Continua                                                3
               Rentabilidade/Custos                                             2
2017-07-01     Melhoria Continua                                                3
               Rentabilidade/Custos                                             2
2017-08-01     Melhoria Continua                                                3
               Rentabilidade/Custos                                             2
2017-09-01     Melhoria Continua                                                2
               Projetos/Iniciativas De Longo Prazo/Estrategia                   0
               Rentabilidade/Custos                                             1
2017-10-01     Melhoria Continua                                                2
               Projetos/Iniciativas De Longo Prazo/Estrategia                   0
               Rentabilidade/Custos                                             1

Acum = Pontos * Peso_KPI/100

In [55]:
df[~df['%_Pontos_Mes'].isna()].shape

(106285, 33)

In [53]:
df[df['%_Pontos_Mes']*df['Peso_KPI']/100 == df['%_Acum_Mes']].shape

(106285, 33)

In [58]:
df[df['%_Pontos_Mes'] <= df['%_Ating_Mes']].shape

(106285, 33)

In [82]:
df[df['%_Pontos_Mes'].isna()].shape

(164348, 33)

In [80]:
for col in df.columns:
    print(col)
    print(df[df['%_Pontos_Mes'].isna()][col].unique())

Mes_Referencia
['2017-03-01T00:00:00.000000000' '2017-04-01T00:00:00.000000000'
 '2017-05-01T00:00:00.000000000' '2017-06-01T00:00:00.000000000'
 '2017-07-01T00:00:00.000000000' '2017-08-01T00:00:00.000000000'
 '2017-09-01T00:00:00.000000000' '2017-10-01T00:00:00.000000000'
 '2017-11-01T00:00:00.000000000' '2017-12-01T00:00:00.000000000']
Pais
['Brasil' 'Barbados' 'Cuba' 'Dominica' 'Guatemala' 'Panama'
 'Rep. Dominicana' 'Saint Vincent']
Mundo
['Sales' 'Supply' 'CE' 'DG' nan 'Logistica' 'Finance' 'People'
 'Asuntos Corporativos' 'Compras' 'Integracion' 'Marketing' 'Solutions'
 'HILA - Proceso de Ventas' 'Sales - Finanzas' 'Sales - Gente y Gestion'
 'Sales - Operaciones' 'Sales - Trade Marketing' 'Sales - Ventas'
 'Sales - Cadena de Abastecimiento & TI' 'Sales - Marketing' 'Caribe Ex'
 'HILA - Suministros' 'Sales - International' 'Sales - Legal'
 'Sales - Proyectos y TI' 'Sales - Suministros' 'Supply - Planta CND'
 'Supply - Planta HN' 'Comercial' 'Supply - Planta Habana']
Regional/Area
[ 10.  20.   3.   2.   1.  16.  13.  18.  22.   8.  21.  14.   7.  17.   9.
  11.  12.   6.  15.   5.   0.  19.   4.]
Unidade
[  78.   14.    5.  195.  278.  221.  136.  201.  226.  222.  322.  186.
  231.  310.  240.  153.  243.  107.  148.  244.  318.   62.  192.  295.
  169.  216.  103.  220.  319.  237.  293.  228.  285.  234.  232.    2.
  211.  198.  199.   11.  229.  206.   68.  304.   13.  219.  209.   73.
  303.  166.    4.  239.  236.  235.  212.   98.   97.  317.  207.  230.
  135.  311.  238.  215.  116.   99.  267.   43.  272.  253.   26.  242.
   52.   86.   85.    8.  241.  203.    6.  245.    9.  185.  100.   74.
  204.   10.   70.  300.  138.  277.  202.  191.  298.  321.  223.  200.
  288.  120.  297.  121.  286.  218.  177.  156.   60.  287.  134.  126.
   63.  193.  263.  283.  172.  210.   36.  182.  208.  196.   89.  140.
  157.  168.  274.    3.   67.   38.  117.  320.  179.   44.   80.  167.
   34.  102.  149.  101.   91.  183.   81.  125.   66.  254.  133.  178.
  144.  115.   28.   76.  296.  150.  109.  188.   79.  104.  331.   32.
  301.   82.  314.  175.  176.  294.   95.  143.   46.  194.   92.  105.
   24.  173.  284.   57.  142.  326.   58.   83.   88.  158.   61.   64.
   94.  151.  146.  313.  131.   42.  259.   77.  137.  170.  255.   45.
   96.  181.  171.   27.  123.  118.  127.   15.  187.  119.  124.   51.
   48.   40.  145.  129.   39.  299.  174.    7.   29.  110.   53.  275.
  214.  163.  271.  205.  281.  154.  130.  180.  139.   31.  252.  282.
  114.  256.   41.   93.  273.  132.  164.  112.   33.  324.  302.  106.
  184.  162.  190.   30.   55.   49.  276.   12.   54.  128.   75.  280.
   72.  224.   59.  217.  197.  323.  233.    0.  227.   65.  155.   87.
  225.   25.  266.  122.  251.   35.   90.   22.  111.  141.   37.   84.
  269.  308.  307.  330.  268.   71.  152.   23.  260.  189.  270.   16.
   17.   18.   20.  257.  279.  264.  291.   21.  246.  247.  249.  258.
  261.  305.  306.  309.  315.  316.  328.  329.   47.   50.   56.   69.
  113.  147.  159.  160.  161.  165.  265.  290.  292.  312.  325.  213.
  327.   19.  289.  248.  250.  262.]
Grupo_Cargo
['Ger De Vendas Revenda' 'Supervisor Fabril' 'Especialista'
 'Ger Engenharia' 'Coord' 'Ger Operaca" Es Distrib Rota' 'Coord Fabril'
 'Analista Fabril' 'Ger Operaca" Es E Distrib' 'Engenheiro Fabril'
 'Ger De Vendas Rota' 'Ger Producao Cerveja' 'Ger Comercial Rota'
 'Greg Logastica' 'Ger Contas Regional' 'Ger De Mercado' 'Ger Logistica'
 'Ger Meio Ambiente' 'Analista' 'Microbiologista' 'Ger Gente Gestao'
 'Ger Serv. Compartilhados' 'Supervisor' 'Coord Macro-Processo'
 'Ger Planej E Performance' 'Gcorp Qa Int' 'Ger Agrona\x1d Mico'
 'Ger Packaging' 'Ger De Contas' 'Especialista Pleno Fabr'
 'Ger Qualidade Assegurada' 'Supervisor De Marketing' 'Ger Producao'
 'Medico Trabalho' 'Especialista De As Rota' 'Ger Fabrica'
 'Ger Producao Malte' 'Tec Administrativo' 'Secretaria Gerencia Corpor'
 'Ger Producao Refrigerante' 'Ger De Implementacao De In'
 'Ger Comercial As' 'Quamico' 'Greg Planej E Performance'
 'Especialista G&G' 'Greg Financeiro' 'Engenheiro' 'Ger Financeiro'
 'Cervejeiro' 'Greg Qualidade Assegurada' 'Especialista Senior Fab'
 'Greg Gente Gestao' 'Esp Processo Vendas' 'Engenheiro Seguranca Trabalho'
 'Coord Serv Compartilhados' 'Esp Produtiv Operacional' 'Ger De Vendas As'
 'Ger Processo Vendas' 'Coord Distrib Rota' 'Coord Financeiro' 'Assepsista'
 'Especialista De Seguranca' 'Ger De Trade Mktg Rota' 'Ger Suprimentos'
 'Ger Operaca" Es Distrib As' 'Coord Rede Franquias' nan
 'Ger Risco E Seguranca' 'Gcorp Seguranca' 'Ger Comercial Revenda'
 'Coord Gente Gestao' 'Engenheiro Reg Seguranca'
 'Esp De Prevencao De Perdas' 'Ger De Trade Mkt Vip/Eventos'
 'Advogado Especialista' 'Greg Marketing' 'Ger De Trade Mktg As'
 'Microbiologista Fabril' 'Ger De Trade Mktg Revendas'
 'Gcorp Desenv Embalagens' 'Ger Produto' 'Tec Enfermagem Trabalho'
 'Advogado' 'Especialista Refri' 'Head De Logistica' 'Ger Adm Financeiro'
 'Greg Operaca" Es' 'Ger Industrial' 'Ger Ativacao De Redes' 'Gcorp Cat'
 'Head De Financas Ecommerce' 'Especialista De Projetos'
 'Tec Seguranca Trabalho' 'Greg As Rota' 'Gerente Craft' 'Coord Select'
 'Programador' 'Especialista Tecn. Precos' 'Head De Varejo Ecommerce'
 'Head Financeiro' 'Head De Ti' 'Head De Costumer Service'
 'Ger Trade Mkt Vip/Eventos' 'Secretaria Diretoria' 'Greg Refrigenanc'
 'Medico Corp' 'Ger Contas Nacional'
 'Solutions Latam Enterprise Architecture' 'Ger Trade Mkt Execucao'
 'Supervisor Vendas' 'Gcorp Manutencao' 'Gcorp Qa Ext'
 'Head De Gente E Gestao' 'Head De Operacoes E Inovacoes'
 'Ger Demand People' 'Head De Marketing' 'Analista Rota'
 'Gcorp Laborata\x1c Rio Central' 'Gcorp De Operacoes Craft' 'Medico'
 'Gcorp Engenharia' 'Coord Distrib/Financ' 'Analista Controle'
 'Gcorp Projetos' 'Ger Comercial' 'Ger O&D' 'Gerente Regional'
 'Ger De Servicos De Ti' 'Ger De Vendas Vip' 'Gcorp Labor Desenvolvimento'
 'Gerente Operacional B.Blend Gf' 'Expatriado'
 'Gerente Centro De Technologia' 'Trainee' 'Talento' 'Secretaria']
Cargo
['GERENTE DE VENDAS REVENDA II' 'SUPERVISOR SENIOR FABRIL'
 'ESPECIALISTA II' 'GER ENGENHARIA III' 'COORDENADOR II'
 'GER OPERAcOES E DISTRIB ROTA I' 'ESPECIALISTA I'
 'COORDENADOR PLENO FABRIL' 'ANALISTA SENIOR FABRIL'
 'GER OPERAcOES E DISTRIB IV' 'ENGENHEIRO SENIOR FABRIL'
 'COORDENADOR SENIOR FABRIL' 'SUPERVISOR UTILIDADES SENIOR FABRIL'
 'GERENTE DE VENDAS ROTA IV' 'GER PRODUcaO CERVEJA II'
 'GERENTE COMERCIAL ROTA II' 'SUPERVISOR FABRIL'
 'GER OPERAcOES DISTRIB ROTA III' 'GER REGIONAL LOGISTICA II'
 'GERENTE DE VENDAS ROTA III' 'ESPECIALISTA III' 'GER CONTAS REGIONAL II'
 'GERENTE DE MERCADO III' 'SUPERVISOR PLENO FABRIL' 'GER LOGISTICA III'
 'COORDENADOR IV' 'ESPECIALISTA IV' 'GER MEIO AMBIENTE II' 'ANALISTA II'
 'MICROBIOLOGISTA SENIOR FABRIL' 'SUPERVISOR UTILIDADES PLENO FABRIL'
 'GER GENTE E GESTaO II' 'ANALISTA I' 'GER SERV. COMPARTILHADOS III'
 'SUPERVISOR III' 'GER GENTE E GESTaO I' 'GER MEIO AMBIENTE I'
 'ANALISTA FABRIL' 'COORD MACRO-PROCESSO IV' 'GER PRODUcaO CERVEJA III'
 'GERENTE DE VENDAS REVENDA III' 'COORDENADOR I' 'GER PRODUcaO CERVEJA IV'
 'GER PLANEJ E PERFORMANCE III' 'ANALISTA III' 'GER CORP QA INT'
 'SUPERVISOR IV' 'GERENTE DE VENDAS ROTA II' 'GER AGRONOMICO'
 'GER PACKAGING II' 'GERENTE DE CONTAS III'
 'ESPECIALISTA DE PRODUTIVIDADE PLENO FABR' 'ANALISTA IV' 'GER PACKAGING I'
 'ANALISTA PLENO FABRIL' 'GER QUALIDADE ASSEGURADA II'
 'GER SERV. COMPARTILHADOS IV' 'GER ENGENHARIA IV'
 'GER QUALIDADE ASSEGURADA III' 'SUPERVISOR DE MARKETING II'
 'ENGENHEIRO PLENO FABRIL' 'GER PRODUcaO III' 'GER ENGENHARIA II'
 'MEDICO TRABALHO' 'ESPECIALISTA DE AS ROTA IV' 'COORDENADOR III'
 'GER FABRICA I' 'GER PRODUcaO MALTE I' 'TEC ADMINISTRATIVO III'
 'SECRETARIA GERENCIA CORPOR II' 'GER PRODUcaO REFRIGERANTE II'
 'GER PACKAGING IV' 'GER.PACKAGING III' 'GER PRODUcaO REFRIGERANTE III'
 'GERENTE DE IMPLEMENTAcaO DE IN' 'GERENTE COMERCIAL AS II'
 'MICROBIOLOGISTA II' 'SUPERVISOR I' 'QUIMICO II'
 'GER REG PLANEJ E PERFORMANCE I' 'GER LOGISTICA II' 'GERENTE DE CONTAS IV'
 'GER GENTE E GESTaO III' 'ESPECIALISTA G&G I' 'GER PRODUcaO II'
 'GER REGIONAL FINANCEIRO II' 'QUIMICO III' 'ENGENHEIRO III'
 'GER GENTE E GESTAO IV' 'GER PLANEJ E PERFORMANCE II'
 'GERENTE FINANCEIRO II' 'CERVEJEIRO PLENO FABRIL'
 'GER REG QUALIDADE ASS I' 'ESPECIALISTA DE PRODUTIVIDADE SENIOR FAB'
 'GER REGIONAL GENTE E GESTaO II' 'GER QUALIDADE ASSEGURADA I'
 'ESPEC PROCESSO VENDAS II' 'GER LOGISTICA IV' 'GERENTE FINANCEIRO III'
 'ENGENHEIRO DE SEGURANcA III' 'GER. REG QUALIDADE ASSEGURADA II'
 'GER ENGENHARIA I' 'COORD. SERV.COMPARTILHADOS III'
 'ESPEC PRODUTIV OPERACIONAL II' 'GERENTE DE Mercado IV'
 'GERENTE FINANCEIRO IV' 'GER PLANEJ E PERFORMANCE I'
 'GERENTE DE VENDAS AS III' 'GER OPERAcOES DISTRIB ROTA II' 'SUPERVISOR II'
 'GER MEIO AMBIENTE III' 'GER PROCESSO VENDAS I' 'QUIMICO PLENO FABRIL'
 'GERENTE DE CONTAS II' 'GERENTE FINANCEIRO I' 'COORDENADOR DISTRIB ROTA'
 'COORDENADOR FINANCEIRO II' 'MICROBIOLOGISTA PLENO FABRIL'
 'ASSEPSISTA PLENO FABRIL' 'QUIMICO SENIOR FABRIL'
 'ESPECIALISTA DE SEGURANcA' 'GER DE TRADE MKTG ROTA III'
 'GERENTE DE MERCADO II' 'GER SUPRIMENTOS III'
 'GER OPERAcOES DISTRIB AS II' 'ENGENHEIRO DE SEGURANcA II'
 'GER PROCESSO VENDAS II' 'COORDENADOR REDE FRANQUIAS I'
 'SUPERVISOR DE MARKETING I' 'COORD. SERV. COMPARTILHADOS II'
 'ESPECIALISTA DE AS ROTA III' nan
 'GERENTE DE RISCOS E SEGURANCA PUBLICA GF' 'GER CORP SEGURANcA I'
 'GERENTE COMERCIAL REVENDA II' 'COORDENADOR REDE FRANQUIAS II'
 'ASSEPSISTA SENIOR FABRIL' 'COORDENADOR GENTE GESTaO II'
 'CERVEJEIRO SENIOR FABRIL' 'GER PRODUcaO REFRIGERANTE I' 'GER LOGISTICA I'
 'ESPECIALISTA DE TRADE MARKETING AS' 'ENG REG SEGURANCA II'
 'ESP DE PREVENcaO DE PERDAS II' 'GER OPERAcOES DISTRIB AS III'
 'ESPECIALISTA G&G II' 'GER DE TRADE MKTG ROTA II'
 'GER. REG QUALIDADE ASSEGURADA I' 'GER TRADE MKT VIP/EVENTOS II'
 'ADVOGADO ESPECIALISTA III' 'TEC ADMINISTRATIVO II'
 'GER REGIONAL MARKETING II' 'GER DE TRADE MARKETING AS III'
 'ENGENHEIRO DE SEGURANcA I' 'MICROBIOLOGISTA FABRIL' 'ASSEPSISTA FABRIL'
 'GER DE TRADE MKTG REVENDAS II' 'ENGENHEIRO SEGURANcA TRABALHO'
 'MICROBIOLOGISTA III' 'GER CORP DESENV EMBALAGENS' 'GER PRODUTO III'
 'ESP DE PREVENcaO DE PERDAS I' 'QUIMICO I' 'ENGENHEIRO I'
 'ENG REG SEGURANCA I' 'GERENTE DE VENDAS ROTA I'
 'TECNICO ENFERMAGEM TRABALHO' 'ADVOGADO II' 'ADVOGADO III'
 'ESPECIALISTA  REFRI I' 'SECRETARIA GERENCIA CORPOR III' 'ADVOGADO I'
 'ADVOGADO ESPECIALISTA I' 'HEAD DE LOGISTICA I'
 'GER PLANEJ E PERFORMANCE IV' 'GER ADM FINANCEIRO III'
 'GERENTE DE VENDAS REVENDA IV' 'GER REGIONAL OPERAcOES I'
 'GER INDUSTRIAL II' 'GER ATIVAcaO DE REDES' 'GER CORP CAT'
 'HEAD DE FINANCAS ECOMMERCE' 'ESPECIALISTA DE PROJETOS I'
 'TEC SEGURANcA TRABALHO III' 'GERENTE REGIONAL AS ROTA'
 'ESPECIALISTA DE PROJETOS II' 'GERENTE CRAFT II'
 'GER REGIONAL FINANCEIRO I' 'COORDENADOR FINANCEIRO I'
 'COORDENADOR SELECT' 'GERENTE DE VENDAS AS I'
 'GER DE TRADE MARKETING AS II' 'PROGRAMADOR II'
 'ESPECIALISTA TECN. PREcOS I' 'HEAD DE VAREJO ECOMMERCE'
 'HEAD FINANCEIRO II' 'GERENTE DE Mercado I' 'HEAD DE TI II' 'CERVEJEIRO I'
 'CERVEJEIRO II' 'GER PRODUTO IV' 'PROGRAMADOR I'
 'HEAD DE COSTUMER SERVICE I' 'GER DE TRADE MKT VIP/EVENTOS I'
 'COORDENADOR FINANCEIRO III' 'SECRETARIA DIRETORIA II'
 'GER REGIONAL REFRIGENANC II' 'MEDICO CORP DE SAUDE II'
 'GER CONTAS NACIONAL II' 'GER SERV. COMPARTILHADOS II'
 'SOLUTIONS LATAM ENTERPRISE ARCHITECTURE' 'GER TRADE MKT EXECUcaO I'
 'SUPERVISOR VENDAS I' 'ADVOGADO ESPECIALISTA II' 'GER CORP MANUTENcaO'
 'GER CORP QA EXT' 'HEAD DE GENTE E GESTAO II' 'GER REGIONAL LOGISTICA III'
 'GER TRADE MKT VIP/EVENTOS III' 'ESPEC PROCESSO VENDAS II GF'
 'HEAD DE OPERACOES E INOVACOES II' 'PEOPLE DEMAND MANAGER'
 'ESPECIALISTA  REFRI III' 'HEAD DE MARKETING I' 'ANALISTA ROTA'
 'GER CORP LABORATO RIO CENTRAL' 'GERENTE CORPORATIVO DE OPERACOES CRAFT'
 'ESPECIALISTA  REFRI II' 'ESP REG CONTROLE I' 'ENGENHEIRO II'
 'SUPERVISOR VENDAS II' 'MEDICO CLINICO' 'GER CORP ENGENHARIA'
 'COORDENADOR DISTRIB/FINANC I' 'ANALISTA CONTROLE I'
 'GER REGIONAL MARKETING I' 'HEAD DE TI III' 'PROGRAMADOR IV'
 'GER CORP PROJETOS I' 'GER COMERCIAL III' 'GER O&D'
 'GER REGIONAL PREMIUM I' 'GER DE TRADE MKTG ROTA I'
 'GERENTE DE Servicos de TI.' 'ANALISTA ROTA II' 'GERENTE DE VENDAS VIP I'
 'GERENTE COMERCIAL ROTA I' 'GER CORP LABOR DESENVOLVIMENTO'
 'GER FABRICA II' 'GER REGIONAL FINANCEIRO III' 'GERENTE DE VENDAS AS II'
 'GERENTE OPERACIONAL B.BLEND GF' 'GER CONTAS NACIONAL I'
 'EXPATRIADO  BANDA V B' 'GERENTE CENTRO DE TECHNOLOGIA' 'EXPATRIADO I'
 'TRAINEE III' 'TALENTO CORPORATIVO' 'SECRETARIA' 'COORDENADOR JR'
 'MICROBIOLOGISTA I' 'ASSEPSISTA II' 'GER DE TRADE MARKETING AS I'
 'SUPERVISOR MARKETING AS' 'SUPERVISOR DE MERCADO I' 'ESPECIALISTA  JR'
 'ENGENHEIRO JR FABRIL' 'GER PRODUcaO I' 'COORDENADOR ARMAZEM'
 'ANALISTA CONTROLE II' 'GER VENDAS MARKETING I' 'SUPERVISOR VENDAS III'
 'GER VENDAS MKTG PROJETOS II' 'GERENTE JURIDICO REGIONAL III'
 'GER OPERAcOES DISTRIB AS I' 'GERENTES DE PROJETOS'
 'REPRESENTANTE DE VENDAS II' 'SUPERVISOR DE MERCADO II'
 'TEC ESPECIALIZADO I' 'SUPERVISOR VENDAS AS II' 'SUPERVISOR VENDAS AS III'
 'GER REG TRADE MKT EXECUcaO' 'ESTAGIARIO SUPERIOR' 'VENDEDOR III'
 'GER REG PLAN E PERFORMANCE II' 'GER DE TRADE MKTG REVENDAS I'
 'TECNICO DE PRODUTIVIDADE II' 'TEC ADMINISTRATIVO SENIOR FABRIL'
 'TEC INFORMATICA II' 'ENGENHEIRO JR' 'AUXILIAR ADMINISTRATIVO'
 'AUXILIAR SERVICOS GERAIS' 'TEC ADMINISTRATIVO I'
 'TEC ELA0 TRICA ELETRONICA II' 'TEC ESPECIALIZADO II' 'GER SERVICOS I'
 'GER GENTE E GESTAO II' 'GER  MARKETING' 'TECNICO DE PRODUTIVIDADE I'
 'GER TRADE MKT EXECUCAO I' 'GER OPERACA" ES E DISTRIB IV'
 'HEAD DE INOVACOES E COMMERCE' 'GER.PRODUTO II' 'GER PRODUCAO CERVEJA III'
 'ENGENHEIRO DE SEGURANCA II' 'GER INDUSTRIAL III' 'GER GENTE E GESTAO III'
 'GER PRODUCAO CERVEJA II' 'TEC INSTRUM/AUTOMACAO PLENO FABRIL'
 'VENDEDOR I' 'COORDENADOR GENTE GESTAO II' 'ENGENHEIRO DE SEGURANCA I'
 'GER GENTE E GESTAO I' 'OPERADOR MANTENEDOR I' 'GER PRODUCAO I'
 'COORDENADOR ARMAZA0 M' 'GER OPERACA" ES DISTRIB AS I'
 'GERENTE REGIONAL GENTE E GESTAO I' 'GER OPERACA" ES DISTRIB ROTA II'
 'GER OPERACA" ES E DISTRIB ROTA I' 'GER REG TRADE MKT EXECUCAO'
 'TEC ELA0 TRICA ELETRA\x1d NICA II' 'GERENTE DE CONTAS I'
 'COORDENADOR JR FABRIL' 'GER SERV COMPARTILHADOS I' 'TRAINEE II'
 'GER SERVICOS II' 'SUPERVISOR DE MERCADO III']
Grade

[ 12.  11.  13.  14.  15.   9.  10.   8.   7.  nan   6.  16.  17.   3.   2.
   1.   5.   4.]
Banda
['VI-B' 'VI-C' 'VI-A' 'V-B' 'V-A' 'VII-B' 'VII-A' 'VII-C' 'VIII' nan 'IV-B'
 'IV-A' 'VII-c' 'VI-b' 'VII-b' 'VI-a' 'VII-a' 'VI-c' 'V-a' 'V-b' 'IV-b'
 'Blue Collars' 'VII' 'VI']
Area
['Gerencia Cd' 'Producao' 'Apf' 'Ceng Campo' 'Vendas Brasil' 'Packaging'
 'Distribuicao Rota' 'Manutencao' 'Qualidade Assegurada' 'Gente Gestao'
 'Dir Regional' 'Logistica' 'Processo Cerveja' 'Utilidades' 'Vendas Rota'
 'Processo Refri' 'Ceng' 'Comercial As' 'Gerencia Cd - As' 'Do Bem'
 'Meio Ambiente' 'Gerencia Fabril' 'Adc' 'Financeiro' 'Juridico'
 'Innovation And Analytics' 'Adv' 'Comercial Rota' 'Inativas'
 'Gente Gestao As' 'Capex' 'Apr' 'Cat' 'Rel. Corporativa' 'Cdt'
 'Operacoes Diretoria' 'Suprimentos' 'Design And Delivery' 'Ppm Vendas'
 'Controle' 'Adl' 'Gente Gestao Diretoria' 'Vendas As'
 'Value Creation And Ppm' 'Distribuicao As' 'Ti' 'Noc Transformation' 'Csu'
 'Equipe Refri' 'Specialties' 'Bblend' 'Csc' 'Marketing' 'Vendas Cig'
 'Transportadora' 'Dvd' 'Refrigenanc' 'Ibs Architect And Security'
 'Financeiro - As' 'Ecommerce' 'Cerv Colorado' nan 'Global' 'Craft'
 'Cdr Louveira' 'R. Preto' 'Cdd Curitiba' 'Cdd Mooca' 'Cdd Jacarepagua'
 'Cdd Brasilia' 'Cdd Santa Luzia' 'Cdd Sao Critovao' 'Colorado Mod'
 'Salvador' 'Cdd Porto Alegre' 'Sdpo' 'Dir Industrial' 'Rio' 'Pr/Spi'
 'Olinda' 'Marketing - As' 'Mg/Es' 'Spc' 'Projetos'
 'Diretoria Disruptive Growth' 'Brand Experience' 'Rtm' 'Acceleration'
 'Laboratorio' 'Eb' 'Projetos Ino' 'Sensory' 'Embalagem' 'Cerveja'
 'Refrigerante' 'Projetos Tech' 'Expatriados' 'Staff Diretoria'
 'Dir. Intern' 'Dir. Geral' 'Staff Adm' 'Vendas']
Nome_Funcionario
[ 2774.  7548.  7052. ...,  3611.    60.  5550.]
Nome_Gestor
[  237.  1983.   790. ...,   685.   334.   169.]
Codigo_KPI
['001VA0609' '001RF0335' '001SC0108' ..., '001JR0306' '001JR0307' nan]
Diretoria
['Diretoria de Vendas e Distribuicao' 'Diretoria de Refrigenanc'
 'Diretoria Industrial' 'Diretoria Tecnologia e Informacao'
 'Diretoria Logistica' 'Diretoria de Gente' 'F. Do Bem RJ'
 'Diretoria Financeira' 'Diretoria de Relacoes Corporativas'
 'Diretoria de Suprimentos' 'Diretoria de Marketing' 'Diretoria Juridica'
 'Diretoria Disruptive Growth' 'F. Do Bem SP' nan]
Areas_da_Diretoria
['AC' 'Campo' 'CSC' 'CENG/CDT' 'Maltarias' 'Trade Marketing' 'DNN'
 'FINANCEIRO' nan]
Funcao
['Ger De Vendas' 'Supervisor' 'Especialista' 'Coord'
 'Ger Operacoes Distrib Rota' 'Analista' 'Engenheiro'
 'Supervisor Utilidades Fabril' 'Ger Producao Cerveja' 'Ger Comercial Rota'
 'Ger Industrial' 'Ger De Contas' 'Ger De Mercado' 'Ger Logistica'
 'Assepsista' 'Ger Meio Ambiente' 'Microbiologista' 'Analista Controle'
 'Ger Gente Gestao' 'Supervisor Fabril' 'Ger Serv. Compartilhados'
 'Coord Serv Compartilhados' 'Coord Armazem' 'Cervejeiro'
 'Ger Planej E Performance' 'Gcorp Qa Int' 'Ger Packaging'
 'Ger Contas Regional' 'Ger Producao' 'Ger Qualidade Assegurada'
 'Ger Engenharia' 'Medico Trabalho' 'Ger Fabrica' 'Ger Maltaria'
 'Tec Administrativo' 'Quimico' 'Secretaria' 'Ger Producao Refrigerante'
 'Ger Corp' 'Ger Comercial' 'Esp De Prevencao De Perdas' 'Ger Financeiro'
 'Engenheiro Seguranca Trabalho' 'Coordenador Fabril' 'Ppm'
 'Engenheiro Reg Seguranca' 'Coord Distrib Rota' 'Ger Agronomico'
 'Coord Financeiro' 'Ger De Trade Mktg Rota' 'Ger Suprimentos'
 'Ger Operacoes Distrib As' 'Ger Risco E Seguranca' 'Coord Distrib As'
 'Analista Fabril' 'Especialista Refri' 'Especialista G&G' 'Ger Mkt'
 'Ger De Trade Mkt Vip/Eventos' 'Supervisor De Marketing'
 'Secretaria Diretoria' 'Ger De Vendas Revenda' 'Coord De Vendas'
 'Coord Fabril' 'Head De Logistica' 'Ger Adm Financeiro'
 'Ger Operacoes E Distrib' 'Head De Financas Ecommerce'
 'Advogado Especialista' 'Programador' 'Advogado'
 'Head De Varejo Ecommerce' 'Head Financeiro' 'Head De Ti' 'Ger Produto'
 'Head De Costumer Service' 'Analista Craft' 'Ger Refrigenanc'
 'Gerente Regional' 'Gcorp Revendas' 'Ger Contas Nacional'
 'Gcorp Laborato Rio Central' 'Medico' 'Gerente Craft'
 'Ger Trade Mkt Vip/Eventos' 'Gerente De Projetos' 'Ger Comercial As' nan]
Tipo_da_Meta
['Mandatorio' 'Grupo Area' 'Generico' 'Menu' 'Metas Individuales 1'
 'Metas Individuales 2' 'Metas Individuales 3' 'Metas Individuales 4'
 'Metas Individuales 5']
Categoria_KPI
['Market Share/Volume' 'Qualidade' 'Rentabilidade/Custos'
 'Melhoria Continua' 'Mundo Melhor' 'Gente E Gestao'
 'Projetos/Iniciativas De Longo Prazo/Estrategia' 'OBZ' 'Cashflow'
 'Inovacoes/Projeto De Inovacoes' 'Imagem Da Marca' 'Compliance'
 'Shelf Space Increase/Brewed Alcohol' 'Service Level' 'Seguranca' 'DPO'
 nan 'Sinergias' 'Package Risk & Opportunities' 'Mics' 'Bad Debt'
 'Le Accuracy' 'Medium Term Planning (P3M)' 'Generic' 'Proyecto Oceano'
 'Sales & Mkt Package Roi' 'Digital Results' 'Gestion Recursos Marcas'
 'Green Belt' 'Reporte Biblia' 'Rankings' 'Ejecucion De Sdg' 'Equipo Frio'
 'Reporte De Gastos Mensual' 'Pago De Incentivos' 'Share' 'Dominio' 'Sep'
 'Cobertura' 'Vol Gt' 'Som' 'Business Disruption' 'Pro-Business' 'Sales'
 'Planes Trade' 'Business Cycle Adherence' 'Asistente De Nomica'
 'Alcance Gps' '#3 Mejoras Area Techsales' 'Gestion A La Vista 2.0'
 'Sistema Mercaderista' 'Cumplimiento' 'M&A' 'Relationship' 'Machine KPI'
 'Itens Zerados' 'Resultado Acumulado Do Ano Do Micro Index Adegas'
 'Nivel De Servicio' 'Proyecto In Home' 'Vol Chopp' 'Vol Vip' 'Vol Prem'
 'People Sust. Index + Saf. Rec. Inj.']
Nome_KPI
[ 3138.  4762.  3696. ...,  4298.  4299.  4300.]
Peso_KPI
[ 20.  15.  25.  10.  30.  35.  40.   0.  24.  80.]
Prazo
['12/31/2017 12:00:00 AM' 42747.0 '1/31/2017 12:00:00 AM' 43100.0 43070.0
 42766.0 31.0 42346.0 42736.0 '31.12.17' '30.06.2017' 'Monthly'
 '31.12.2017' '30.11.17' 'FY' '31.10.2017' nan '31.07.2017' '30.11.2017'
 '30.08.2017' 'monthly and quarterly basis' 'TBD' '30.12.2017' 'July'
 '30.09.2017']
Regra_Alcance_Parcial
['80% pontos:  -10pp vs Bgt' '80% pontos: 97,5% da meta'
 'Regra da Lacuna: Lacuna = (Real - Real AA)/(Meta - Real AA) -> 90% lacuna = 80% pontos'
 ..., '100 ptos: 100% checklist'
 'Regla: LE = ( Media GAPS mensuales LE x Real ( total realizado ) / Total LE ) de 11 meses ( 11 meses Feb hasta Dec ) <= meta 5% =100, 8% 0 90%, 12% = 80%.'
 'Sim regra de alcance parcial']
Meta_Projeto
[nan 'Nao' 'Sim']
%_Ating_Mes
[ nan]
%_Pontos_Mes
[ nan]
%_Acum_Mes
[ nan]
%_Ating_Acumulado
[  nan   80.    0.  100.   90.]
%_Pontos_Acumulado
[  nan   60.    0.  100.   80.]
%_Acum_Acumulado
[ nan  15.  12.   0.  20.  16.  30.  25.   8.   9.  10.  18.  35.  40.  24.
  32.  28.]
%_Ating_Fim_Exer
[  nan  100.    0.   80.   90.]
%_Pontos_Fim_Exer
[  nan  100.    0.   60.   80.]
%_Acum_Fim_Exer
[ nan  25.  20.  15.   0.  30.  12.   9.  10.  16.   8.  35.  40.  32.  24.
  18.  28.  21.   6.]
Status_Meta
[nan 'Monitoramento Aprovado']

In [91]:
df[df['%_Pontos_Mes'].isna()
  & df['%_Pontos_Acumulado'].isna()
  & df['%_Pontos_Fim_Exer'].isna()].head(10)

,Mes_Referencia,Pais,Mundo,Regional/Area,Unidade,Grupo_Cargo,Cargo,Grade,Banda,Area,...,%_Ating_Mes,%_Pontos_Mes,%_Acum_Mes,%_Ating_Acumulado,%_Pontos_Acumulado,%_Acum_Acumulado,%_Ating_Fim_Exer,%_Pontos_Fim_Exer,%_Acum_Fim_Exer,Status_Meta
1,2017-03-01,Brasil,Sales,10.0,78.0,Ger De Vendas Revenda,GERENTE DE VENDAS REVENDA II,12.0,VI-B,Gerencia Cd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-03-01,Brasil,Sales,10.0,78.0,Ger De Vendas Revenda,GERENTE DE VENDAS REVENDA II,12.0,VI-B,Gerencia Cd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-03-01,Brasil,Supply,20.0,14.0,Supervisor Fabril,SUPERVISOR SENIOR FABRIL,11.0,VI-C,Producao,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017-03-01,Brasil,Supply,20.0,14.0,Supervisor Fabril,SUPERVISOR SENIOR FABRIL,11.0,VI-C,Producao,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-03-01,Brasil,CE,3.0,5.0,Especialista,ESPECIALISTA II,13.0,VI-A,Apf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-03-01,Brasil,CE,3.0,5.0,Especialista,ESPECIALISTA II,13.0,VI-A,Apf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2017-03-01,Brasil,CE,3.0,5.0,Especialista,ESPECIALISTA II,13.0,VI-A,Apf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2017-03-01,Brasil,Supply,2.0,195.0,Ger Engenharia,GER ENGENHARIA III,14.0,V-B,Ceng Campo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-03-01,Brasil,Supply,2.0,195.0,Ger Engenharia,GER ENGENHARIA III,14.0,V-B,Ceng Campo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-03-01,Brasil,Supply,2.0,195.0,Ger Engenharia,GER ENGENHARIA III,14.0,V-B,Ceng Campo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
df.groupby('Nome_Funcionario').nunique()

,Mes_Referencia,Pais,Mundo,Regional/Area,Unidade,Grupo_Cargo,Cargo,Grade,Banda,Area,...,%_Ating_Mes,%_Pontos_Mes,%_Acum_Mes,%_Ating_Acumulado,%_Pontos_Acumulado,%_Acum_Acumulado,%_Ating_Fim_Exer,%_Pontos_Fim_Exer,%_Acum_Fim_Exer,Status_Meta
Nome_Funcionario,,,,,,,,,,,,,,,,,,,,,
0.0,8,1,1,1,2,2,2,2,2,2,...,4,4,4,4,4,4,2,2,2,1
1.0,1,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,1,1,1,1
2.0,9,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,1,1,1,1
3.0,6,1,2,2,2,2,2,1,1,2,...,2,2,2,2,2,2,2,2,3,1
4.0,9,1,1,2,1,1,1,1,1,1,...,2,2,3,1,1,2,1,1,2,1
5.0,7,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
6.0,7,1,1,1,1,1,1,1,1,1,...,3,3,5,4,4,5,3,3,6,1
7.0,8,1,1,2,1,1,1,1,1,1,...,2,2,2,1,1,1,1,1,1,1
8.0,9,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,1,1,2,1
9.0,9,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
10.0,9,1,1,2,1,1,1,1,1,1,...,1,1,2,1,1,2,1,1,2,1
11.0,10,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
12.0,10,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
13.0,10,1,1,1,1,2,2,2,2,2,...,4,4,4,4,4,4,3,3,3,1
14.0,7,1,1,1,1,1,1,1,1,1,...,4,4,6,4,4,7,4,4,5,1
15.0,6,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,1
16.0,8,1,1,1,1,1,1,1,1,1,...,3,3,3,4,4,4,1,1,1,1
17.0,4,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,1
18.0,10,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,1,1,1,1
19.0,5,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,3,3,4,1
20.0,8,1,1,2,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
21.0,10,1,1,1,1,2,2,2,2,1,...,0,0,0,0,0,0,0,0,0,0
22.0,7,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,1,1,1,1
23.0,4,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
24.0,6,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,1
25.0,7,1,1,1,1,1,2,2,2,1,...,4,4,4,2,2,2,1,1,1,1
26.0,7,1,1,1,1,1,1,1,1,1,...,2,2,3,3,3,4,2,2,3,1
27.0,9,1,1,1,1,1,1,1,1,1,...,4,4,6,3,3,4,3,3,5,1
28.0,9,1,1,1,1,1,1,1,1,1,...,4,4,4,4,4,4,4,4,4,1
29.0,10,1,1,1,1,1,1,1,1,1,...,4,4,4,4,4,4,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7829.0,7,1,1,1,1,0,2,2,2,2,...,0,0,0,0,2,3,0,2,3,0
7830.0,7,1,1,1,1,0,1,1,1,1,...,0,0,0,0,2,2,0,1,2,0
7831.0,7,1,1,1,1,0,1,1,1,1,...,0,0,0,0,2,2,0,2,2,0
7832.0,4,1,1,1,1,0,1,1,1,1,...,0,0,0,0,4,4,0,4,4,0
7833.0,7,1,1,1,1,0,1,1,1,1,...,0,0,0,0,2,2,0,3,3,0
7834.0,6,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7835.0,9,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,1,1,1,1
7836.0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7837.0,9,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,2,2,2,1
7838.0,3,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7839.0,7,1,1,1,1,0,1,1,1,1,...,0,0,0,0,1,1,0,1,1,0
7840.0,3,1,1,1,1,0,1,1,1,1,...,0,0,0,0,2,2,0,1,1,0
7841.0,7,1,1,1,1,0,0,0,0,0,...,0,0,0,0,4,6,0,4,6,0
7842.0,7,1,1,1,2,0,0,0,0,0,...,0,0,0,0,3,3,0,2,3,0
7843.0,9,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
7844.0,8,1,1,1,1,1,2,2,2,1,...,1,1,1,1,1,1,1,1,1,1
7845.0,9,1,1,2,1,1,2,2,2,1,...,1,1,1,1,1,1,1,1,1,1
7846.0,8,1,1,1,1,1,1,1,1,1,...,2,2,2,1,1,1,1,1,1,1
7847.0,10,1,1,1,1,1,1,1,1,1,...,2,2,2,2,2,2,1,1,1,1
7848.0,7,1,1,1,2,1,1,1,1,2,...,4,4,4,4,4,4,4,4,4,1
7849.0,9,1,1,1,1,1,1,1,1,1,...,4,4,4,4,4,4,3,3,3,1
7850.0,8,1,1,1,1,2,2,2,2,1,...,3,3,3,3,3,3,1,1,1,1
7851.0,9,1,1,2,1,1,1,1,1,1,...,2,2,2,1,1,1,1,1,1,1
7852.0,3,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
7853.0,5,1,1,1,1,1,1,1,1,1,...,3,3,3,4,4,4,3,3,3,1
7854.0,7,1,1,1,2,1,1,1,1,2,...,1,1,1,1,1,1,1,1,1,1
7855.0,4,1,1,1,1,1,2,2,2,1,...,0,0,0,0,0,0,0,0,0,0
7856.0,9,1,1,1,1,1,1,1,1,1,...,3,3,3,3,3,3,2,2,2,1
7857.0,8,1,1,2,2,2,2,2,2,2,...,1,1,1,2,2,2,1,1,1,1
7858.0,9,1,1,2,1,1,2,2,2,1,...,2,2,4,2,2,4,1,1,3,1

In [118]:
df[~df['%_Pontos_Mes'].isna()
  & ~df['%_Pontos_Acumulado'].isna()
  & ~df['%_Pontos_Fim_Exer'].isna()].head(10)

,Mes_Referencia,Pais,Mundo,Regional/Area,Unidade,Grupo_Cargo,Cargo,Grade,Banda,Area,...,%_Ating_Mes,%_Pontos_Mes,%_Acum_Mes,%_Ating_Acumulado,%_Pontos_Acumulado,%_Acum_Acumulado,%_Ating_Fim_Exer,%_Pontos_Fim_Exer,%_Acum_Fim_Exer,Status_Meta
0,2017-03-01,Brasil,Sales,10.0,78.0,Ger De Vendas Revenda,GERENTE DE VENDAS REVENDA II,12.0,VI-B,Gerencia Cd,...,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,25.0,Monitoramento Aprovado
2,2017-03-01,Brasil,Sales,10.0,78.0,Ger De Vendas Revenda,GERENTE DE VENDAS REVENDA II,12.0,VI-B,Gerencia Cd,...,80.0,60.0,12.0,80.0,60.0,12.0,100.0,100.0,20.0,Monitoramento Aprovado
3,2017-03-01,Brasil,Sales,10.0,78.0,Ger De Vendas Revenda,GERENTE DE VENDAS REVENDA II,12.0,VI-B,Gerencia Cd,...,100.0,100.0,15.0,90.0,80.0,12.0,100.0,100.0,15.0,Monitoramento Aprovado
6,2017-03-01,Brasil,Supply,20.0,14.0,Supervisor Fabril,SUPERVISOR SENIOR FABRIL,11.0,VI-C,Producao,...,100.0,100.0,20.0,100.0,100.0,20.0,100.0,100.0,20.0,Monitoramento Aprovado
8,2017-03-01,Brasil,Supply,20.0,14.0,Supervisor Fabril,SUPERVISOR SENIOR FABRIL,11.0,VI-C,Producao,...,100.0,100.0,20.0,100.0,100.0,20.0,100.0,100.0,20.0,Monitoramento Aprovado
9,2017-03-01,Brasil,Supply,20.0,14.0,Supervisor Fabril,SUPERVISOR SENIOR FABRIL,11.0,VI-C,Producao,...,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,25.0,Monitoramento Aprovado
10,2017-03-01,Brasil,CE,3.0,5.0,Especialista,ESPECIALISTA II,13.0,VI-A,Apf,...,0.0,0.0,0.0,0.0,0.0,0.0,100.0,100.0,25.0,Monitoramento Aprovado
11,2017-03-01,Brasil,CE,3.0,5.0,Especialista,ESPECIALISTA II,13.0,VI-A,Apf,...,100.0,100.0,20.0,100.0,100.0,20.0,100.0,100.0,20.0,Monitoramento Aprovado
16,2017-03-01,Brasil,Supply,2.0,195.0,Ger Engenharia,GER ENGENHARIA III,14.0,V-B,Ceng Campo,...,100.0,100.0,20.0,100.0,100.0,20.0,100.0,100.0,20.0,Monitoramento Aprovado
17,2017-03-01,Brasil,Supply,2.0,195.0,Ger Engenharia,GER ENGENHARIA III,14.0,V-B,Ceng Campo,...,100.0,100.0,20.0,100.0,100.0,20.0,100.0,100.0,20.0,Monitoramento Aprovado

In [120]:
for col in df.columns:
    if (df[col].loc[6] != df[col].loc[8]):
        print(str(col) + ": " + str(df[col].loc[6]) + " , " +  str(df[col].loc[8]))

Codigo_KPI: 001CC0161 , 001SC0434
Areas_da_Diretoria: CENG/CDT , Campo
Nome_KPI: 2424.0 , 4580.0
Regra_Alcance_Parcial: 100%: LTI (area) = 0 e LTI Fab <= Bgt e TRI (area) <= Bgt 60%: LTI (area) = 0 e TRI Area < LY e TRI (fabrica) <= Bgt Se ocorrer acidente fatal tipico = zero. , Conforme Matriz de Metas VPO 2017 disponivel no SDCA+

In [126]:
df['Tipo_da_Meta'].unique()

array(['Mandatorio', 'Grupo Area', 'Generico', 'Menu',
       'Metas Individuales 1', 'Metas Individuales 2',
       'Metas Individuales 3', 'Metas Individuales 4',
       'Metas Individuales 5'], dtype=object)

In [122]:
agg_df = df.groupby(['Nome_Funcionario','Mes_Referencia','Categoria_KPI']).nunique()

In [125]:
agg_df[agg_df['%_Pontos_Mes'].isna()
  & agg_df['%_Pontos_Acumulado'].isna()
  & agg_df['%_Pontos_Fim_Exer'].isna()].head(10)

Empty DataFrame
Columns: [Mes_Referencia, Pais, Mundo, Regional/Area, Unidade, Grupo_Cargo, Cargo, Grade, Banda, Area, Nome_Funcionario, Nome_Gestor, Codigo_KPI, Diretoria, Areas_da_Diretoria, Funcao, Tipo_da_Meta, Categoria_KPI, Nome_KPI, Peso_KPI, Prazo, Regra_Alcance_Parcial, Meta_Projeto, %_Ating_Mes, %_Pontos_Mes, %_Acum_Mes, %_Ating_Acumulado, %_Pontos_Acumulado, %_Acum_Acumulado, %_Ating_Fim_Exer, %_Pontos_Fim_Exer, %_Acum_Fim_Exer, Status_Meta]
Index: []

[0 rows x 33 columns]

In [131]:
df.loc[230478]

Mes_Referencia            2017-06-01 00:00:00
Pais                                 Barbados
Mundo                                  Supply
Regional/Area                               4
Unidade                                    16
Grupo_Cargo                               NaN
Cargo                                     NaN
Grade                                     NaN
Banda                                     NaN
Area                                      NaN
Nome_Funcionario                         6910
Nome_Gestor                               438
Codigo_KPI                                NaN
Diretoria                                 NaN
Areas_da_Diretoria                        NaN
Funcao                                    NaN
Tipo_da_Meta             Metas Individuales 1
Categoria_KPI                             NaN
Nome_KPI                                    0
Peso_KPI                                    0
Prazo                                     NaN
Regra_Alcance_Parcial                     NaN
Meta_Projeto                              NaN
%_Ating_Mes                               NaN
%_Pontos_Mes                              NaN
%_Acum_Mes                                NaN
%_Ating_Acumulado                         NaN
%_Pontos_Acumulado                          0
%_Acum_Acumulado                            0
%_Ating_Fim_Exer                          NaN
%_Pontos_Fim_Exer                           0
%_Acum_Fim_Exer                             0
Status_Meta                               NaN
Name: 230478, dtype: object

In [135]:
df[(df['Nome_Funcionario']==6910)].groupby('Mes_Referencia').nunique()

,Mes_Referencia,Pais,Mundo,Regional/Area,Unidade,Grupo_Cargo,Cargo,Grade,Banda,Area,...,%_Ating_Mes,%_Pontos_Mes,%_Acum_Mes,%_Ating_Acumulado,%_Pontos_Acumulado,%_Acum_Acumulado,%_Ating_Fim_Exer,%_Pontos_Fim_Exer,%_Acum_Fim_Exer,Status_Meta
230477,2017-06-01,Barbados,Supply,4.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,80.0,16.0,NaN,100.0,20.0,NaN
230478,2017-06-01,Barbados,Supply,4.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN
230479,2017-06-01,Barbados,Supply,4.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230480,2017-06-01,Barbados,Supply,4.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN
230481,2017-06-01,Barbados,Supply,4.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,80.0,16.0,NaN,100.0,20.0,NaN
230482,2017-06-01,Barbados,Supply,4.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN
230483,2017-06-01,Barbados,Supply,4.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,100.0,20.0,NaN
230484,2017-06-01,Barbados,Supply,4.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN
230485,2017-06-01,Barbados,Supply,4.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230486,2017-06-01,Barbados,Supply,4.0,16.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN